
@using SistemaCos_001.ViewModels;
@model PedidoViewModel;
@*este es nuevo*@

<script>
    function activarCardC(elemento) {
        // Toggle de una clase llamada "activo"
        elemento.classList.toggle("activo");
        activarCardC2(elemento.parentNode);
    }
    function activarCardC2(elemento) {
        // Toggle de una clase llamada "activo"
        elemento.classList.toggle("activo");
    }

    function activarCard(elemento) {
        // Toggle de una clase llamada "activo"
        elemento.classList.toggle("activo");
    }

</script>
<form asp-action="Agregar" asp-controller="Pedido" id="formularioStock" enctype="multipart/form-data" method="post" role="form">
    
    <div class="per">
        <div class="perfilP">
            <picture> <img src="~/im/chris.jpg" /></picture>
            <h5 id="nameProfile">Brigida belen ramos</h5>
            <p id="nameProfileConpany">Enki Srl.</p>
        </div>
        <div class="datosP col-12 col-sm-11 col-md-10 col-lg-8">
            <h4 style="color: #703d6f;">Datos Del Pedido</h4>
            <div class="form-group  mb-3 col-12 col-sm-12 col-md-8 col-lg-12">
                <label asp-for="newPedido.fechaEntrega" class="form-label" style="color: #706482;">Fecha de Entrega</label>
                <div class="input-group date">
                    <input id="fechaEntrega" asp-for="newPedido.fechaEntrega" class="form-control" required
                           type="date" min="2000-01-01" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="newPedido.fechaEntrega" class="text-danger"></span>
            </div>

            <div class="form-group  mb-3 col-12 col-sm-12 col-md-8 col-lg-12">
                <label asp-for="newPedido.clienteId" class="form-label" style="color: #706482;">Seleccionar Cliente</label>
                <div class="input-group">
                    <select asp-for="newPedido.clienteId" class="form-control" id="categoriaPolera" onchange="obtenerDatosCliente()">
                        <option value="">Ningún Cliente Seleccionado</option>
                        @foreach (var obj in Model.clientes)
                        {
                            <option value="@obj.clienteId">@obj.name</option>
                        }
                    </select>
                    
                    <button type ="button" class="btn btn-primary" id="btnAbrirModalCategoria" data-toggle="modal" data-target="#modalCategoria">
                        Crear Cliente
                    </button>
                </div>
                <span asp-validation-for="newPedido.clienteId" class="text-danger"></span>
            </div>

            <div class="col-sm-6" style="display:none">
                <input asp-for="newPedido.monto" type="text" class="form-control" id="montoF" readonly >
            </div>
            <div class="col-sm-6" style="display:none">
                <input asp-for="newPedido.descuento" type="text" class="form-control" id="descuentoPedido" readonly>
            </div>
            <div class="col-sm-6" style="display:none">
                <input asp-for="newPedido.montoTotal" type="text" class="form-control" id="montoTotalF" readonly >
            </div>
            
            <div class="col-sm-6" style="display:none">
                <input asp-for="newPago.acuenta" type="number" class="form-control" id="acuentaF" readonly>
            </div>
            
            <input asp-for="newPedido.jsonCadena" class="form-control" id="listaObjetos" style="display:none;" />
            <!-- <input type="hidden" id="listaObjetos" name="@Model.newPedido.jsonCadena" /> -->
            
        </div>
    </div>
    
    

</form>
    @*modal*@

    <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog" aria-labelledby="modalCategoriaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCategoriaLabel">Crear Categoría</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formCategoria">

                        <div class="form-group">
                            <label asp-for="newCliente.name" for="name">Nombre</label>
                            <input asp-for="newCliente.name" type="text" class="form-control" id="name" name="name">

                            <label asp-for="newCliente.nameCompany" for="nameCompany">Nombre Compañia</label>
                            <input asp-for="newCliente.nameCompany" type="text" class="form-control" id="nameCompany" name="nameCompany">

                            <label asp-for="newCliente.direccion" for="direccion">Direccion</label>
                            <input asp-for="newCliente.direccion" type="text" class="form-control" id="direccion" name="direccion">

                            <label asp-for="newCliente.number" for="number">Numero</label>
                            <input asp-for="newCliente.number" type="text" class="form-control" id="number" name="number">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarCategoria">Guardar Categoría</button>
                </div>
            </div>
        </div>
    </div>
  

    
   


<div class="c2">
    @foreach (var producto in Model.productos)
    {
        <div class="cc2">
            <div class="imgcc2" onclick="activarCardC(this)">
                <picture>
                    <img src="~/imagenes/@producto.urlImagen" alt="">
                </picture>
            </div>
            <div class="textoPedidoCc2">
                <h2>@producto.modelo</h2>
                <p>Talla : @producto.talla</p>
            </div>
            <div class="textoPedidoCardCc2">
                <p id="id" style="display: none;">@producto.productoId</p>
                <h2>@producto.modelo</h2>
                <p>Talla : @producto.talla</p>
                <label class="label">
                    <input type="text" class="input" id="precioS" placeholder=" ">
                    <span class="span">Precio:</span>
                </label>
                <label class="label">
                    <input type="text" class="input" id="cantidadS" placeholder=" ">
                    <span class="span">Cantidad:</span>
                </label>

                <button class="btn btn-outline-success" id="btnPedido" onclick="agregarDesdeTarjeta(this.parentElement)">Guardar</button>
            </div>
            
        </div>
    }
</div>  

<h2>Tabla de Productos</h2>

<!-- Tabla para mostrar los productos agregados -->
<table id="tablaProductos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        <!-- Aquí se agregarán las filas de productos -->
    </tbody>
</table>

@*  -----------------               proforma        ----------------------------------------------------*@
<div class="container mt-5">

    <div class="row">
        <!-- <div class="col-md-6 offset-md-3"></div> -->
        <div class="col-12">
            <div class="card" id="proformaPedido">
                <div class="card-body">
                    <h2 class="text-center mb-4" style="color: #703d6f;">Proforma</h2>
                    <div class="form-group row ">
                        <label for="subtotal" class="col-sm-6 col-form-label text-right subtituloPedido">Subtotal:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="subtotal" readonly disabled value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="descuento" class="col-sm-6 col-form-label text-right subtituloPedido">Descuento:</label>
                        <div class="col-sm-6 ">
                            <input type="text" class="form-control" id="descuento" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="total" class="col-sm-6 col-form-label text-right subtituloPedido">Total:</label>
                        <div class="col-sm-6">
                            <input  type="text" class="form-control" id="total" readonly disabled value="0">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label for="total" class="col-sm-6 col-form-label text-right subtituloPedido">Adelanto:</label>
                        <div class="col-sm-6">
                            <input  type="number" class="form-control" id="adelanto" value="0" required min="1">
                            
                        </div>
                    </div>

                    <div class="botonesPedido">
                        <button type="button" class="btn btn-outline-success " >Cancelar</button>
                        <button type="button" class="btn btn-success" onclick="enviarFormulario()">Agregar</button>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<footer id="footerPedido">
    Propiedad ENKI</footer>


<script>

    // para actualizar los nombre del cliente y empresa profile
    function obtenerDatosCliente() {
        // Obtener el valor seleccionado en el selector de clientes
        var clienteIdSeleccionado = document.getElementById("categoriaPolera").value;

        // Buscar el cliente correspondiente en la lista de clientes
        var clientes = @Html.Raw(Json.Serialize(Model.clientes)); // Convertir la lista de clientes a un objeto JavaScript
        var clienteSeleccionado = clientes.find(cliente => cliente.clienteId === parseInt(clienteIdSeleccionado));

        // Usar la información del cliente para mostrarla o utilizarla en otro div
        if (clienteSeleccionado) {
            // Aquí puedes usar la información del cliente como desees
            console.log("Nombre del cliente: " + clienteSeleccionado.name);
            console.log("Otro dato del cliente: " + clienteSeleccionado.nameCompany);
            document.getElementById("nameProfile").textContent = clienteSeleccionado.name;
            document.getElementById("nameProfileConpany").textContent = clienteSeleccionado.nameCompany;
        }
    }

    $(document).ready(function () {
            
        // Método jQuery para abrir el modal de categoría
        $("#btnAbrirModalCategoria").click(function () {
            console.log("entro al click");
            $('#modalCategoria').modal('show');
        });

        // Método jQuery para crear categorías dentro del modal
        $("#btnGuardarCategoria").click(function () {
            var datos = $("#formCategoria").serialize();
            console.log(datos);
            $.ajax({
                url: "/Cliente/agregar",
                type: "POST",
                data: datos,
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        console.log(response.data);
                        $('#modalCategoria').modal('hide');
                        $("#categoriaPolera").append($("<option></option>").val(response.data.categoriaId).html(response.data.name));

                    } else {
                        alert("Ocurrió un error al crear la categoría: " + response.errors);
                    }
                },
                error: function (xhr, status, error) {
                    alert("Ocurrió un error al crear la categoría: " + error);
                }
            });
        });
    });
</script>

<script>
    /*  -------   fecha actual  ---------- */
    // Obtener el elemento de fecha por su ID
    var fechaInput = document.getElementById('fechaEntrega');

    // Obtener la fecha actual en formato YYYY-MM-DD
    var fechaActual = new Date().toISOString().slice(0, 10);

    // Establecer el valor predeterminado del campo de fecha
    fechaInput.value = fechaActual;


    /* actualizar el total */
    function calcularDescuento(){
        var subtotal = document.getElementById("subtotal").value ;
        var descuento = document.getElementById("descuento").value;
        var total = subtotal - descuento;
        document.getElementById("total").value = total;
    }

    document.getElementById('descuento').addEventListener('input', calcularDescuento);


    /* aqui termina */

    function agregarDesdeTarjeta(tarjeta) {
        var da = tarjeta.querySelector("#cantidadS"); //obtiene la etiqueta
        var cantidad = da.value;
        var da2 = tarjeta.querySelector("#precioS");
        var precios = da2.value;
        var daI = tarjeta.querySelector("#id").innerHTML;

        console.log("precio : " + precios + " cantidad :" + cantidad + "id" + daI);

        
        agregarProducto(cantidad, precios, daI);
        da.value = "";
        da2.value = "";
    }

    // Función para agregar un producto a la tabla
    function agregarProducto(cantidad, precio, id) {
        if(cantidad != 0 && precio != 0 )
        {
            console.log(id + " entró al método");

            var cuerpoTabla = document.getElementById("cuerpoTabla");
            var filas = cuerpoTabla.getElementsByTagName("tr");
            var filaExistente = null;

            for (var i = 0; i < filas.length; i++) {
                var celdas = filas[i].getElementsByTagName("td");
                var idEnFila = celdas[0].textContent;

                if (idEnFila === id) {
                    filaExistente = filas[i];
                    break;
                }
            }

            if (filaExistente) {
                actualizarFilaExistente(filaExistente, cantidad, precio);
            } else {
                agregarNuevaFila(cuerpoTabla, id, cantidad, precio);
            }

            var tem = obtenerSaldo();
            console.log("Aqui esta afuera damaris" + obtenerSaldo());
            document.getElementById("subtotal").value = obtenerSaldo();
            calcularDescuento();
        
        }
        else{
            alert("Ingrese un valor distinto a 0");
        }
        
        
    }

    function actualizarFilaExistente(fila, cantidad, precio) {
        var celdas = fila.getElementsByTagName("td");
        celdas[2].textContent = precio;
        celdas[3].textContent = cantidad;
        var total = parseInt(cantidad) * parseInt(precio);
        celdas[4].textContent = total;
    }

    function agregarNuevaFila(cuerpoTabla, id, cantidad, precio) {
        var nuevaFila = document.createElement("tr");

        crearYAgregarCelda(nuevaFila, id);
        crearYAgregarCelda(nuevaFila, "Nombre del producto");
        crearYAgregarCelda(nuevaFila, precio);
        crearYAgregarCelda(nuevaFila, cantidad);
        var total = parseInt(cantidad) * parseInt(precio);
        crearYAgregarCelda(nuevaFila, total);

        var eliminarBtn = document.createElement("button");
        eliminarBtn.textContent = "Eliminar";
        eliminarBtn.onclick = function () {
            cuerpoTabla.removeChild(nuevaFila);
            document.getElementById("subtotal").value = obtenerSaldo();
            calcularDescuento();
            
        };

        var cell1 = document.createElement("td");
        cell1.appendChild(eliminarBtn); // Agregar el botón a la celda

        nuevaFila.appendChild(cell1);
        cuerpoTabla.appendChild(nuevaFila);
    }

    /* crea la celda y asigna el valor nuevo que llega */
    function crearYAgregarCelda(fila, contenido) {
        var celda = document.createElement("td");
        celda.textContent = contenido;
        fila.appendChild(celda); /* agrega la celda a la fila tr */
    }


    function obtenerDatosTablaComoJson() {
        var tabla = document.getElementById("tablaProductos");
        var filas = tabla.getElementsByTagName("tr");
        var datos = [];

        for (var i = 1; i < filas.length; i++) { // Empezamos desde 1 para omitir el encabezado
            var celdas = filas[i].getElementsByTagName("td");
            var objeto = {
                id: celdas[0].textContent,
                nombre: celdas[1].textContent,
                precio: celdas[2].textContent,
                cantidad: celdas[3].textContent,
                total: celdas[4].textContent
                // Agrega otros atributos si los tienes en la tabla
            };
            datos.push(objeto);
        }

        return JSON.stringify(datos);
    }
    function obtenerSaldo() {
        var contadorSaldo = 0;
        var tabla = document.getElementById("tablaProductos");
        var filas = tabla.getElementsByTagName("tr");
        var datos = [];

        for (var i = 1; i < filas.length; i++) { // Empezamos desde 1 para omitir el encabezado
            var celdas = filas[i].getElementsByTagName("td");
            console.log("Aqui es bucle" + celdas[4].textContent);
            contadorSaldo += parseInt(celdas[4].textContent);
        }

        return contadorSaldo;
    }

    function enviarFormulario() {
        var datosJson = JSON.stringify(obtenerDatosTablaComoJson());
        document.getElementById("listaObjetos").value = datosJson;
        var descuento = document.getElementById("descuento").value;

        document.getElementById("montoF").value = document.getElementById("subtotal").value;
        document.getElementById("montoTotalF").value = document.getElementById("total").value;
        document.getElementById("descuentoPedido").value = descuento;
        document.getElementById("acuentaF").value = document.getElementById("adelanto").value;

        document.getElementById("formularioStock").submit();
    }
    

</script>
