@using SistemaCos_001.ViewModels
@model ProductoListViewModel

@*<h2>MIo</h2>
@foreach(var stock in Model.stocks)
{
    <p> Modelo : @stock.Producto.modelo</p>
    <p>Stock : @stock.cantidad</p>
    <p>Precio : @stock.precioMenor</p>
    <p>Categoria : @stock.Producto.Categoria.nombre</p>
}*@
<br />
@foreach (var stock in Model.stocks)
{
    <div class="tarjeta">
        <p class="precio">@stock.precioMenor bs.</p>
        <div class="icon">
            <a href="">@stock.Producto.talla</a>
            <a href=""><i class="bi bi-cart3"></i></a>
            <a href=""><i class="bi bi-share"></i></a>
        </div>
        <picture>
            <img class="foto" src="~/imagenes/@stock.Producto.urlImagen" alt="">
        </picture>
        <div class="texto">
            <h4>@stock.Producto.modelo</h4>
            <p class="truncate-text">
                Este es un texto que se mostrará en un máximo de 2 líneas antes de truncar el contenido si es
                demasiado largo.
            </p>
            <div class="botones">
                <a asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-productoId="@stock.stockId"
                   class="aComprar"><i class="bi bi-cash-coin"></i> Comprar</a>

                <a asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-productoId="@stock.stockId"
                   class="aCarrito"><i class="bi bi-cart3"></i> Agregar</a>

            </div>
        </div>
    </div>
    

    
    
}
@*@foreach (var producto in Model.productos)
{
    var newStock = Model.stocks.FirstOrDefault(s => s.productoId == producto.productoId);

    <div class="tarjeta">
        <p>Stock : @newStock.cantidad</p>
        <p class="precio">@newStock.precioMenor bs.</p>
        <partial name="_productoCard" model="producto" />
    </div>




}*@