@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<stock>
<h1>Stocks de productos disponibles</h1>
<a asp-action="Agregar" class="btnAgregar"><i class="bi bi-plus"></i> <p>Agregar</p></a>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                Lote
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioMayor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioMenor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @item.stockId
                </td>
                <td>
                    @item.Producto.modelo
                </td>
                <td>
                    @item.cantidad
                </td>
                <td>
                    @item.precioMayor
                </td>
                <td>
                    @item.precioMenor
                </td>
                <td>
                    @item.fecha
                </td>
                <td>
                    @item.estado
                </td>
                @*<td>
                    <a asp-action="editar" asp-route-id="@item.categoriaId">Editar</a> |
                    <a asp-action="detalle" asp-route-id="@item.categoriaId">Details</a> |
                    <a asp-action="delete" asp-route-id="@item.categoriaId">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
<h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident minima molestias esse consequuntur commodi! Rerum pariatur delectus illo, doloribus architecto quisquam esse minus, eum ipsum dignissimos assumenda similique, doloremque eveniet!
    In rem aspernatur obcaecati, ipsam, recusandae provident exercitationem sit eum explicabo laborum perferendis aliquid rerum mollitia voluptatem voluptas deserunt quod perspiciatis itaque veritatis. Nulla animi quos officiis maiores necessitatibus! Quisquam!
    Quam laudantium obcaecati ad! In doloribus minima eaque fugit atque alias harum incidunt distinctio laborum libero ut sequi porro inventore consectetur commodi sunt modi odit aliquam, quod aspernatur vero magnam!
    Iste dolorem velit, beatae debitis non, distinctio sint quae id eos reprehenderit praesentium, commodi consequatur quisquam suscipit. Nihil exercitationem harum impedit quam error, nam ipsam autem quae. Ab, perspiciatis molestiae?
    Illo asperiores ut deserunt iusto velit culpa? Facere ducimus consequuntur, error unde quae tempore praesentium ex, voluptatum iure labore consectetur asperiores nemo voluptatem. Assumenda, fugiat temporibus quae repellendus quaerat tenetur?
    Aliquid in officiis tenetur minima totam vel numquam dolores, iusto eveniet odit, consequuntur quam. In minima facere error eaque reiciendis, veritatis esse itaque? Rem, culpa omnis itaque consequuntur cumque placeat.
    A, ipsum eligendi sequi nihil qui maiores enim quaerat suscipit velit quo quas atque! Veniam, repellendus consequatur consectetur nam eum recusandae iusto, excepturi iste voluptates vero rerum ipsam repudiandae saepe.
    Dignissimos exercitationem expedita sit ea. Quos natus eos cum iusto excepturi facilis obcaecati, unde nobis labore minus voluptatibus at tempore saepe facere molestias dignissimos cupiditate error necessitatibus harum vero! Ipsa.
    Ipsa quas nobis porro repudiandae dolor aliquid dolorum perspiciatis, repellat vel tenetur perferendis laboriosam quo cupiditate sint ad, illo soluta eveniet, earum necessitatibus amet. Hic quaerat consectetur culpa facilis voluptatum.
    Nam incidunt mollitia odit unde dolorum consectetur in blanditiis earum consequatur obcaecati, officia, minus magnam ipsam? Fugit ut sequi tempore, distinctio laboriosam corrupti soluta cumque nobis illo veritatis? Cum, provident!
    Iure dicta eos accusantium nobis pariatur iusto? Mollitia labore nemo reiciendis animi nulla consectetur officia omnis iure ipsum, similique perferendis commodi illum rerum, recusandae, ab doloribus repellendus excepturi porro repudiandae!
    Accusamus voluptatum corporis blanditiis earum quo! Explicabo harum, quia vero animi minima ipsam suscipit itaque magnam consectetur non rem dolorem ab fugiat earum reiciendis totam eos. Dolor expedita hic dolorem?
    Maxime eos dolor voluptatibus sit omnis libero temporibus. Ut, optio! Nam officia eum ad natus recusandae eaque, pariatur rem delectus! Labore quas, nostrum magnam praesentium debitis sunt assumenda sit doloribus.
    Perferendis dignissimos quibusdam optio et natus, quas cum harum vel facilis non earum modi aliquid assumenda fugiat, voluptatum laudantium quia velit tempore suscipit laboriosam inventore quis accusantium. Dignissimos, ipsam necessitatibus.
    Ullam sit, tenetur facilis a minus autem molestiae quia qui dolores id ratione, provident exercitationem asperiores perspiciatis magnam quod. Temporibus quam quae id? Iusto fugit nostrum, ullam magni officiis quae?
    Ipsam, rem, delectus consequuntur ea dignissimos est dicta autem, aspernatur iure minima temporibus nam similique consectetur. Nam pariatur ipsa, laboriosam aperiam quia, perspiciatis est neque corrupti id molestias fugiat quos.
    Assumenda consequatur reiciendis nobis voluptates fugit distinctio impedit illum voluptas quam magnam maxime repellendus ex, labore consequuntur expedita dolore, error corrupti iure porro at recusandae ea. Obcaecati mollitia nulla quibusdam.
    Maiores sapiente voluptas reiciendis esse excepturi exercitationem quisquam, illo quibusdam ut, adipisci libero explicabo alias dolor, maxime porro. Iste iusto illo, quisquam culpa eius officia nulla ad aliquid ratione blanditiis.
    Voluptatum libero, aut harum iste nam nisi quisquam voluptatibus assumenda porro aliquam consequatur impedit corrupti iusto, cum maxime earum quia fugit distinctio perspiciatis. Hic, inventore doloribus cumque praesentium consequatur facere.
    Perspiciatis quidem, amet dolorum ipsum nihil consequuntur odio impedit magni numquam distinctio aperiam cupiditate repudiandae voluptate aliquid consequatur, ipsam saepe rerum labore vel dolor provident rem. Sed repellat eius et.
    Praesentium doloribus nesciunt pariatur, distinctio quia mollitia vel eum rerum atque qui recusandae deserunt sequi laudantium iste dolore ipsum dolorum molestias quaerat, nam quam modi, commodi reiciendis necessitatibus. Deleniti, laborum!
    Iusto perspiciatis tenetur asperiores excepturi dignissimos id, a, corporis velit aut consequuntur delectus enim inventore itaque vitae officiis maxime ipsum? Tenetur architecto tempora, eligendi vero enim ipsa hic officiis quam.
    Ipsa hic nam at quisquam fugit quidem, quos ipsum? Ipsam, iure? Temporibus voluptatibus harum blanditiis provident nam ut hic porro, qui corporis nemo amet accusantium? Alias porro consequatur at quia.
    Commodi eligendi voluptate nobis dolorum dignissimos. Dolore corporis ipsa vel tempora! Doloribus fuga possimus animi rerum nesciunt, repellendus officiis consectetur neque praesentium accusantium quas asperiores adipisci, alias necessitatibus fugit recusandae.
    Sequi provident laboriosam laborum voluptatem quod cumque odio quaerat eveniet in architecto voluptates, similique nam, quis possimus harum, reiciendis aut. Suscipit, non delectus consequatur odit nihil ducimus laboriosam fuga similique.
    Architecto distinctio autem expedita impedit totam. Accusamus, error eos rerum vitae voluptatum dolorum nihil officiis et perspiciatis quia. Porro hic repellat nisi eum aut voluptatum quae inventore perspiciatis. Corrupti, exercitationem!
    Minus asperiores totam, numquam facilis recusandae aliquid ab sint impedit itaque, vero facere quam fugit doloribus corporis. Consectetur sapiente, beatae, exercitationem at eveniet est iure eius, praesentium nostrum fugiat vitae?
    Inventore autem ipsam veritatis neque sed magnam soluta voluptates necessitatibus amet quos laborum incidunt perferendis modi nobis, illum quis molestias, praesentium id deserunt quo? Explicabo, tempore corrupti! Aliquam, deserunt praesentium!
    Labore ut voluptates aut voluptate eaque, praesentium asperiores architecto laudantium aspernatur quam alias facere quibusdam distinctio qui recusandae vero, dolor quod. Veritatis eius ducimus amet. At ratione eos explicabo vero.
    Excepturi impedit aliquam, eaque expedita tempora itaque cumque quod nobis nihil! Temporibus tempora sed, blanditiis quidem quis aliquam reiciendis vero repudiandae magnam dolores aliquid quisquam modi officiis distinctio natus? Placeat.
    Labore aliquam possimus voluptatibus. Accusantium, amet architecto voluptas perferendis inventore repellendus error nesciunt quos. Ipsum voluptatum debitis veritatis perspiciatis aspernatur! Ex, eligendi error tempora quae laborum modi quam ad totam?
    Consequatur sint quasi officiis, quisquam, quam dolore amet, unde praesentium consectetur nemo doloribus reiciendis excepturi labore! Molestiae reiciendis quam ut eum impedit, corrupti eaque fugiat. Illo beatae laboriosam mollitia quam!
    Provident voluptates est temporibus repellat corrupti nihil, eum nemo? Voluptatem at vitae aperiam natus quam doloremque eos aliquid quod, libero enim beatae tenetur officiis sequi, ipsum voluptatum, nisi laborum neque!
    Facere molestiae ab deleniti voluptatem asperiores ducimus sit. Beatae distinctio autem suscipit obcaecati quis voluptatibus quia ab laudantium, recusandae sunt doloremque assumenda est ratione eius vero nemo quos. A, quod?
    Eveniet ab eligendi maxime aperiam, optio esse sed in fugiat numquam nobis doloribus ullam natus repellat dolor distinctio non aut, quibusdam officia qui itaque. Distinctio quo sapiente quos dicta hic!
    Quaerat est veniam sapiente quibusdam accusamus aperiam impedit, quo tempora ea reiciendis molestias. Commodi ullam sunt natus doloribus minus ut culpa architecto sequi. Consectetur repellendus blanditiis iusto neque quae dignissimos.
    Non eum asperiores deserunt aperiam ipsa veniam laboriosam. Commodi ipsa itaque maxime sapiente tempore? Cumque corporis voluptatum ea porro minima, asperiores maxime qui magnam praesentium reiciendis veniam voluptatem, aperiam neque.
    Culpa, nihil ab? Eum reprehenderit necessitatibus architecto, illo voluptatum eius quidem illum exercitationem deleniti cupiditate fuga voluptatibus. Corporis doloremque corrupti asperiores, placeat laborum error perferendis dolorem pariatur nam illum soluta.
    Aliquam quia explicabo dicta. Dolore, earum. Saepe voluptatem iusto dignissimos cum, neque maxime tenetur quo amet praesentium vero facilis reprehenderit quidem architecto atque eius autem porro, dolores libero blanditiis fuga?
    Earum sapiente asperiores doloribus dolores officia recusandae dolore aliquam quisquam, eligendi, eaque hic itaque nam atque libero, laudantium veritatis optio nemo ut quo. Quisquam, quibusdam dolores nihil laudantium porro nemo?
    Commodi repellendus tenetur repellat facere cumque soluta, at excepturi sapiente laudantium blanditiis exercitationem doloribus iure voluptatum quo sit deleniti labore, modi perspiciatis temporibus reprehenderit nulla nisi minima quidem? Eveniet, commodi?
    Nostrum quasi et, excepturi quas dolore illo fugit alias temporibus iste cupiditate laboriosam officiis atque, iure autem ducimus culpa velit. Expedita voluptatem natus, culpa ratione esse placeat exercitationem minus nobis?
    Quasi, officia doloribus perferendis voluptatibus, alias placeat consequuntur consectetur deserunt odit accusamus sint eligendi corrupti necessitatibus porro? Sint nulla esse expedita quia facilis adipisci quas assumenda repellat porro eligendi! Quaerat?
    Sed iure ex, earum, impedit mollitia nobis modi id exercitationem deserunt quos dignissimos dolor aut error quo laudantium beatae distinctio itaque ipsa, placeat nulla quibusdam maiores nostrum! Facere, unde corrupti.
    Debitis modi repudiandae eum ut dolores, iure ipsam molestias in excepturi animi, aliquid nisi mollitia quaerat nulla ab fugiat culpa libero! Beatae provident rem optio. A odio ipsam rem debitis?
    Porro eius cumque adipisci quisquam, temporibus ex recusandae minima deleniti labore vero nobis velit. Quibusdam, corrupti fugiat modi consectetur officiis iusto ab similique quasi dolorem, velit vel, suscipit maiores iure!
    Deleniti, quisquam beatae! Eum harum tenetur iure et sapiente saepe voluptatibus tempore deserunt eos, autem tempora itaque dolores officia eaque recusandae fugiat voluptas similique error! Inventore fugit quae iste sed.
    Asperiores ducimus laborum dolores sunt? Perspiciatis optio debitis voluptatem voluptatibus nam consequatur rem totam deleniti molestiae commodi, quas, quae, ad quaerat? Placeat rem quod quo, repudiandae a doloremque cum laudantium.
    Inventore consectetur aperiam accusamus, libero temporibus natus id dicta sit omnis deserunt accusantium necessitatibus quos quia quidem delectus, animi fugiat perferendis tenetur distinctio optio odio! Reiciendis vel eum necessitatibus officia?
    Nihil provident doloribus reiciendis magni omnis beatae, placeat quidem qui consectetur laborum animi illo repudiandae impedit voluptates perferendis similique, blanditiis eaque. Facilis magnam, saepe necessitatibus dolor nam obcaecati et eligendi.
</h3>